# Ignore specific music file
assets/obj_wo3DlMOGwrbDjj7DisKw_58034750452_3281_c5cd_4d04_2f43e5a7c21a151300292dbc9ceb9d25.mp3

# General audio files
*.mp3
*.wav
*.ogg

# System files
.DS_Store
Thumbs.db
